---
import { Icon } from "astro-icon/components";

---

<nav class="nav">
  <a class="left" href="/">Max DeWeese</a>

  <div class="right">
  <a href="https://github.com/MaxDeWeese" target="_blank">
    <Icon name="mdi:github" size={24} />
    <span>GitHub</span>
  </a>
  <a href="https://loadin9.itch.io/" target="_blank" rel="noopener noreferrer">
    <Icon name="simple-icons:itchdotio" size={20} />
    <span>Itch.io</span>
  </a>

  <a href="https://www.linkedin.com/in/max-deweese" target="_blank">
    <Icon name="mdi:linkedin" size={24} />
    <span>LinkedIn</span>
  </a>

  <a href="mailto:maximiliandeweese@gmail.com">
    <Icon name="mdi:email-outline" size={24} />
    <span>Email</span>
  </a>
</div>
</nav>

<style>
.nav {
  position: sticky;
  top: 0;
  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 24px;
  background: rgba(252, 252, 252, 0.8);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #eee;

  font-family: "Inter", sans-serif;
  color: #111;
  line-height: 1.6;
}

.left {
  font-weight: 600;
  text-decoration: none;
  color: #111;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -0.03em;

}

.right {
  display: flex;
  gap: 18px;
}

.right a {
  display: flex;
  align-items: center;   /* vertically center icon and text */
  gap: 3px;              /* spacing between icon and text */

  text-decoration: none;
  color: #555555;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.02em;


  transition: color 0.2s ease;
}

.right a:hover {
  color: #000;
}
@media (max-width: 768px) {
  .right a span {
    display: none;
  }

  .right {
    gap: 12px;
  }

  .right a {
    gap: 0;
  }
}
</style>